* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    background: rgba(36, 80, 84, .5);
}

.content {
    width: 100%;
    max-width: 95%;
    min-height: 400px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.header {
    height: 120px;
}

.live, .historical {
    height: auto;
    padding: 5px;
    width: 635px;
    margin-right: auto;
    margin-left: auto;
}

.topBoxes {
    width: 690px;
    height: 110px;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

/*https://github.com/IanLunn/Hover/blob/master/README.md*/
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.form-toggle-button {
    width: 190px;
    height: 60px;
    padding: 12px;
    margin: 10px;
    float: right;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.livebox {
    /*background-image: -webkit-linear-gradient(top, #241424, #484848);*/
    /*background-image: -moz-linear-gradient(top, #241424, #484848);*/
    /*background-image: -ms-linear-gradient(top, #241424, #484848);*/
    /*background-image: -o-linear-gradient(top, #241424, #484848);*/
    /*background-image: linear-gradient(to bottom, #241424, #484848);*/
    border: solid black;
    background-color: black;
    margin-left: 17px;
    margin-right: 17px;
}
.livebox:hover {
    background: #484848;
}

.histbox {
    /*background-image: -webkit-linear-gradient(top, #241424, #484848);*/
    /*background-image: -moz-linear-gradient(top, #241424, #484848);*/
    /*background-image: -ms-linear-gradient(top, #241424, #484848);*/
    /*background-image: -o-linear-gradient(top, #241424, #484848);*/
    /*background-image: linear-gradient(to bottom, #241424, #484848);*/
    border: solid black;
    background-color: black;
    margin-left: 17px;
    margin-right: 17px;
}
.histbox:hover {
    background: #484848;
}

.topBoxes h1 {
    text-align: center;
    color: white;
}

.topBoxes p {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

table {
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #676767;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-size: 28px;
    color: #676767;
}
h2 {
    font-family: 'Space Mono', monospace;
    font-size: 45px;
    color: #676767;
}

p {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    color: #676767;
}
